
#Chicken{
    text-align: justify;
    padding: 20px;
    margin: 20px;
    background-color: gray;
}
#sushi{
    text-align: justify;

    background-color: gray;
}
#beef{
    text-align: justify;

    background-color: gray;
}

#navbarNavDropdown{
    
    background-color: indigo;
}

.nav-link a{
    color: wheat;
}